In [1]:
#artificial neural network.

In [2]:
#Part 1 data processing.

In [3]:
#importing the library

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
from google.colab import files


uploaded = files.upload()

Saving Churn_Modelling.csv to Churn_Modelling.csv

In [20]:

import io

dataset = pd.read_csv(io.BytesIO(uploaded['Churn_Modelling.csv']))
x = dataset.iloc[:,3:13]
y = dataset.iloc[:,13]

In [23]:
#create dummy veriable.
geography = pd.get_dummies(x["Geography"],drop_first=True)
gender = pd.get_dummies(x["Gender"],drop_first=True)

In [26]:
x = pd.concat([x,gender,geography],axis=1)

In [27]:
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Male,Germany,Spain
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,0,1
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,1,0,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,1,0,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,1,0
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0,0

In [28]:
#drop unnecessory columns
x = x.drop(['Geography','Gender'],axis=1)

In [29]:
x

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Male,Germany,Spain
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,1,0,0
9996,516,35,10,57369.61,1,1,1,101699.77,1,0,0
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1,0
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [31]:
#spliting the dataset into train test split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [35]:
#feature scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [40]:
!pip install LeakeyReLU

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement LeakeyReLU (from versions: none)
ERROR: No matching distribution found for LeakeyReLU

In [41]:
# now lets make ANN
# import keras library and package
import keras
from keras.models import Sequential
from keras.layers import Dense
#from keras.layers import LeakeyReLU,PReLU,ELU
from keras.layers import Dropout

In [44]:
#initialising ANN
classifier = Sequential()
# this is the empty neural network

In [46]:
# Adding the input layer and 1st hidden layer
classifier.add(Dense(units = 6,kernel_initializer='he_uniform',activation='relu',input_dim=11))
# unit means we need 6 neurons,
# kernel_initializer use for weight initialiser when we use relu activation function he_uniform or he_normal works well.
# input dim are 11 beacause in x_train we have 11 feature

In [47]:
# Adding the input layer and 2nd hidden layer
classifier.add(Dense(units = 6,kernel_initializer='he_uniform',activation='relu'))

In [48]:
# Adding output layer
classifier.add(Dense(units = 1,kernel_initializer='glorot_uniform',activation='sigmoid'))

In [49]:
classifier.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 72

 dense_1 (Dense)             (None, 6)                 42

 dense_2 (Dense)             (None, 6)                 42

 dense_3 (Dense)             (None, 1)                 7

=================================================================
Total params: 163
Trainable params: 163
Non-trainable params: 0
_________________________________________________________________

In [50]:
#compiling the ann
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [57]:
#fitting the ANN to training set
model_history = classifier.fit(x_train,y_train,validation_split=0.33,batch_size=10,epochs=100)

Epoch 1/100
536/536 [==============================] - 3s 3ms/step - loss: 0.5613 - accuracy: 0.7492 - val_loss: 0.4688 - val_accuracy: 0.8046
Epoch 2/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4398 - accuracy: 0.8177 - val_loss: 0.4412 - val_accuracy: 0.8073
Epoch 3/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4245 - accuracy: 0.8218 - val_loss: 0.4331 - val_accuracy: 0.8118
Epoch 4/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4151 - accuracy: 0.8233 - val_loss: 0.4272 - val_accuracy: 0.8156
Epoch 5/100
536/536 [==============================] - 1s 2ms/step - loss: 0.4076 - accuracy: 0.8263 - val_loss: 0.4172 - val_accuracy: 0.8201
Epoch 6/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3985 - accuracy: 0.8341 - val_loss: 0.4055 - val_accuracy: 0.8254
Epoch 7/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3861 - accuracy: 0.8388 - val_loss: 0.3943 - val_accuracy: 0.8315
Epoch 8/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3731 - accuracy: 0.8451 - val_loss: 0.3852 - val_accuracy: 0.8402
Epoch 9/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3625 - accuracy: 0.8496 - val_loss: 0.3781 - val_accuracy: 0.8429
Epoch 10/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3543 - accuracy: 0.8520 - val_loss: 0.3753 - val_accuracy: 0.8459
Epoch 11/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3500 - accuracy: 0.8546 - val_loss: 0.3683 - val_accuracy: 0.8482
Epoch 12/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3467 - accuracy: 0.8554 - val_loss: 0.3674 - val_accuracy: 0.8444
Epoch 13/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3437 - accuracy: 0.8576 - val_loss: 0.3645 - val_accuracy: 0.8451
Epoch 14/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3426 - accuracy: 0.8595 - val_loss: 0.3642 - val_accuracy: 0.8440
Epoch 15/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3405 - accuracy: 0.8586 - val_loss: 0.3650 - val_accuracy: 0.8474
Epoch 16/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3401 - accuracy: 0.8606 - val_loss: 0.3633 - val_accuracy: 0.8455
Epoch 17/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3385 - accuracy: 0.8602 - val_loss: 0.3620 - val_accuracy: 0.8466
Epoch 18/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3366 - accuracy: 0.8600 - val_loss: 0.3692 - val_accuracy: 0.8478
Epoch 19/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3377 - accuracy: 0.8595 - val_loss: 0.3613 - val_accuracy: 0.8489
Epoch 20/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3362 - accuracy: 0.8617 - val_loss: 0.3625 - val_accuracy: 0.8474
Epoch 21/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3361 - accuracy: 0.8617 - val_loss: 0.3625 - val_accuracy: 0.8493
Epoch 22/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3358 - accuracy: 0.8604 - val_loss: 0.3615 - val_accuracy: 0.8451
Epoch 23/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3347 - accuracy: 0.8621 - val_loss: 0.3607 - val_accuracy: 0.8485
Epoch 24/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3343 - accuracy: 0.8612 - val_loss: 0.3608 - val_accuracy: 0.8478
Epoch 25/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3340 - accuracy: 0.8614 - val_loss: 0.3620 - val_accuracy: 0.8519
Epoch 26/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3335 - accuracy: 0.8614 - val_loss: 0.3656 - val_accuracy: 0.8474
Epoch 27/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3337 - accuracy: 0.8610 - val_loss: 0.3594 - val_accuracy: 0.8466
Epoch 28/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3335 - accuracy: 0.8642 - val_loss: 0.3603 - val_accuracy: 0.8485
Epoch 29/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3330 - accuracy: 0.8615 - val_loss: 0.3597 - val_accuracy: 0.8470
Epoch 30/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3328 - accuracy: 0.8604 - val_loss: 0.3603 - val_accuracy: 0.8463
Epoch 31/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3319 - accuracy: 0.8634 - val_loss: 0.3598 - val_accuracy: 0.8459
Epoch 32/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3315 - accuracy: 0.8615 - val_loss: 0.3593 - val_accuracy: 0.8512
Epoch 33/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3315 - accuracy: 0.8623 - val_loss: 0.3596 - val_accuracy: 0.8466
Epoch 34/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3295 - accuracy: 0.8632 - val_loss: 0.3605 - val_accuracy: 0.8504
Epoch 35/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3299 - accuracy: 0.8602 - val_loss: 0.3609 - val_accuracy: 0.8504
Epoch 36/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3298 - accuracy: 0.8599 - val_loss: 0.3592 - val_accuracy: 0.8493
Epoch 37/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3292 - accuracy: 0.8615 - val_loss: 0.3619 - val_accuracy: 0.8463
Epoch 38/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3291 - accuracy: 0.8614 - val_loss: 0.3592 - val_accuracy: 0.8485
Epoch 39/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3286 - accuracy: 0.8615 - val_loss: 0.3571 - val_accuracy: 0.8493
Epoch 40/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3287 - accuracy: 0.8640 - val_loss: 0.3574 - val_accuracy: 0.8497
Epoch 41/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3279 - accuracy: 0.8634 - val_loss: 0.3576 - val_accuracy: 0.8512
Epoch 42/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3276 - accuracy: 0.8625 - val_loss: 0.3587 - val_accuracy: 0.8497
Epoch 43/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3274 - accuracy: 0.8643 - val_loss: 0.3619 - val_accuracy: 0.8463
Epoch 44/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3282 - accuracy: 0.8632 - val_loss: 0.3581 - val_accuracy: 0.8497
Epoch 45/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3275 - accuracy: 0.8610 - val_loss: 0.3594 - val_accuracy: 0.8485
Epoch 46/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3275 - accuracy: 0.8630 - val_loss: 0.3581 - val_accuracy: 0.8508
Epoch 47/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3270 - accuracy: 0.8627 - val_loss: 0.3584 - val_accuracy: 0.8512
Epoch 48/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3272 - accuracy: 0.8630 - val_loss: 0.3588 - val_accuracy: 0.8512
Epoch 49/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3265 - accuracy: 0.8636 - val_loss: 0.3591 - val_accuracy: 0.8508
Epoch 50/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3263 - accuracy: 0.8638 - val_loss: 0.3596 - val_accuracy: 0.8501
Epoch 51/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3261 - accuracy: 0.8647 - val_loss: 0.3611 - val_accuracy: 0.8478
Epoch 52/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3270 - accuracy: 0.8642 - val_loss: 0.3602 - val_accuracy: 0.8504
Epoch 53/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3264 - accuracy: 0.8628 - val_loss: 0.3592 - val_accuracy: 0.8519
Epoch 54/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3262 - accuracy: 0.8632 - val_loss: 0.3587 - val_accuracy: 0.8504
Epoch 55/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3264 - accuracy: 0.8642 - val_loss: 0.3594 - val_accuracy: 0.8497
Epoch 56/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3261 - accuracy: 0.8638 - val_loss: 0.3614 - val_accuracy: 0.8512
Epoch 57/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3262 - accuracy: 0.8617 - val_loss: 0.3587 - val_accuracy: 0.8512
Epoch 58/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3258 - accuracy: 0.8651 - val_loss: 0.3589 - val_accuracy: 0.8508
Epoch 59/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3257 - accuracy: 0.8645 - val_loss: 0.3592 - val_accuracy: 0.8497
Epoch 60/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3258 - accuracy: 0.8628 - val_loss: 0.3614 - val_accuracy: 0.8497
Epoch 61/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3254 - accuracy: 0.8630 - val_loss: 0.3588 - val_accuracy: 0.8497
Epoch 62/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3257 - accuracy: 0.8647 - val_loss: 0.3591 - val_accuracy: 0.8493
Epoch 63/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3258 - accuracy: 0.8623 - val_loss: 0.3584 - val_accuracy: 0.8508
Epoch 64/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3244 - accuracy: 0.8666 - val_loss: 0.3610 - val_accuracy: 0.8501
Epoch 65/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3258 - accuracy: 0.8632 - val_loss: 0.3593 - val_accuracy: 0.8478
Epoch 66/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3254 - accuracy: 0.8625 - val_loss: 0.3610 - val_accuracy: 0.8485
Epoch 67/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3261 - accuracy: 0.8628 - val_loss: 0.3590 - val_accuracy: 0.8489
Epoch 68/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3253 - accuracy: 0.8645 - val_loss: 0.3611 - val_accuracy: 0.8497
Epoch 69/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3253 - accuracy: 0.8623 - val_loss: 0.3594 - val_accuracy: 0.8501
Epoch 70/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3253 - accuracy: 0.8649 - val_loss: 0.3612 - val_accuracy: 0.8493
Epoch 71/100
536/536 [==============================] - 2s 3ms/step - loss: 0.3255 - accuracy: 0.8619 - val_loss: 0.3601 - val_accuracy: 0.8493
Epoch 72/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3251 - accuracy: 0.8647 - val_loss: 0.3589 - val_accuracy: 0.8501
Epoch 73/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3252 - accuracy: 0.8653 - val_loss: 0.3613 - val_accuracy: 0.8478
Epoch 74/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3250 - accuracy: 0.8628 - val_loss: 0.3593 - val_accuracy: 0.8489
Epoch 75/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3249 - accuracy: 0.8649 - val_loss: 0.3627 - val_accuracy: 0.8463
Epoch 76/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3251 - accuracy: 0.8604 - val_loss: 0.3596 - val_accuracy: 0.8466
Epoch 77/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3247 - accuracy: 0.8660 - val_loss: 0.3594 - val_accuracy: 0.8493
Epoch 78/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3255 - accuracy: 0.8617 - val_loss: 0.3585 - val_accuracy: 0.8504
Epoch 79/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3243 - accuracy: 0.8647 - val_loss: 0.3598 - val_accuracy: 0.8489
Epoch 80/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3250 - accuracy: 0.8658 - val_loss: 0.3625 - val_accuracy: 0.8516
Epoch 81/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3245 - accuracy: 0.8632 - val_loss: 0.3609 - val_accuracy: 0.8512
Epoch 82/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3249 - accuracy: 0.8645 - val_loss: 0.3604 - val_accuracy: 0.8504
Epoch 83/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3242 - accuracy: 0.8645 - val_loss: 0.3622 - val_accuracy: 0.8466
Epoch 84/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3247 - accuracy: 0.8638 - val_loss: 0.3597 - val_accuracy: 0.8497
Epoch 85/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3247 - accuracy: 0.8636 - val_loss: 0.3595 - val_accuracy: 0.8508
Epoch 86/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3251 - accuracy: 0.8623 - val_loss: 0.3602 - val_accuracy: 0.8485
Epoch 87/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3242 - accuracy: 0.8640 - val_loss: 0.3601 - val_accuracy: 0.8474
Epoch 88/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3246 - accuracy: 0.8643 - val_loss: 0.3603 - val_accuracy: 0.8489
Epoch 89/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3245 - accuracy: 0.8627 - val_loss: 0.3607 - val_accuracy: 0.8482
Epoch 90/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3244 - accuracy: 0.8623 - val_loss: 0.3617 - val_accuracy: 0.8466
Epoch 91/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3248 - accuracy: 0.8627 - val_loss: 0.3609 - val_accuracy: 0.8459
Epoch 92/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3247 - accuracy: 0.8647 - val_loss: 0.3589 - val_accuracy: 0.8512
Epoch 93/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3241 - accuracy: 0.8632 - val_loss: 0.3619 - val_accuracy: 0.8455
Epoch 94/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3235 - accuracy: 0.8651 - val_loss: 0.3657 - val_accuracy: 0.8504
Epoch 95/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3248 - accuracy: 0.8636 - val_loss: 0.3603 - val_accuracy: 0.8489
Epoch 96/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3240 - accuracy: 0.8614 - val_loss: 0.3601 - val_accuracy: 0.8497
Epoch 97/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3234 - accuracy: 0.8632 - val_loss: 0.3596 - val_accuracy: 0.8504
Epoch 98/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3239 - accuracy: 0.8643 - val_loss: 0.3605 - val_accuracy: 0.8501
Epoch 99/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3242 - accuracy: 0.8649 - val_loss: 0.3621 - val_accuracy: 0.8432
Epoch 100/100
536/536 [==============================] - 1s 2ms/step - loss: 0.3243 - accuracy: 0.8623 - val_loss: 0.3597 - val_accuracy: 0.8504

In [62]:
# predict the test set result.
y_predict=classifier.predict(x_test)
y_predict=(y_predict>0.5)

In [67]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_predict)

In [69]:
#calculate the accuracy
from sklearn.metrics import accuracy_score
score =accuracy_score(y_predict,y_test)

In [70]:
score

0.865

In [71]:
#to increase the the acuracy you can increase layer of  one neural network and run the same code